x<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <script src="/javascripts/lib/jquery.min.js"></script>
        <script src="/javascripts/lib/handlebars.min.js"></script>
        <script src="/javascripts/lib/ember.min.js"></script>
    </head>
    <body>
        <script type="text/x-handlebars" id="components/blog-post">
            <h1>Component: {{title}}</h1>
            <p>{{yield}}</p>
        </script>
        <form action="#">
            <!--application template-->
            <script type="text/x-handlebars">
            <fieldset>
                <legend>Output</legend>
                <h6>{{title}}</h6>
            </fieldset>
            <fieldset>
                <legend>bind-attr</legend>
                <img {{bind-attr src=gruntBadge}} alt="grunt"/>
                <label>{{count}}</label>
                {{input type="checkbox" checked=checked}}
                {{input type="number" value=count}}
            </fieldset>
            <fieldset>
                <legend>action</legend>
                <input type="input" {{bind-attr disabled=valid}} value="Nightly"/>
                <button {{action 'toggle'}}>Toggle</button>
            </fieldset>
            <fieldset>
                <legend>components</legend>
                {{#blog-post title=title}}
                    Lorem ipsum dolor sit amet.
                {{/blog-post}}
            </fieldset>
            </script>
        </form>
    </body>
    <script src="/javascripts/index.js"></script>
</html>