body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input:disabled{
    background: none;
    border-color: transparent;
    outline: none;
}